<div class="col-lg-12" id="report-{{ report.id }}">
    <div class="find-jobs-card align-items-center home-job">
        <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <ul class="content-list">
                        <li class="time">{{ report.get_type_display }}</li>
                        {% if report.type == report.RH %}
                            <li class="freelance">Du : {{ report.date_start|date }}</li>
                            <li class="internship">Au : {{ report.date_end|date }}</li>
                        {% endif %}
                    </ul>
                    <h3>
                        <a href="{% url 'reporting:detail_report' report.id %}">{{ report.title|title }}</a>
                    </h3>
                </div>
                <div class="col-md-4 text-md-end">
                    <p class="text-end fst-italic">Rapport du {{ report.created|date }}</p>
                    {% if report.published %}
                        <span class="badge bg-success-subtle text-success fs-6 fw-normal fst-italic">
                                        <i class="ri ri-check-fill"></i> Soumis
                                    </span>
                    {% else %}
                        <span class="badge bg-danger-subtle text-danger fs-6 fw-normal fst-italic">
                                        <i class="ri ri-draft-fill"></i> En brouillon
                                    </span>
                    {% endif %}
                </div>
            </div>
            {% if report.tasks.all %}
                <ul style="list-style-type: disc">
                    {% for task in report.tasks.all %}
                        {% if forloop.counter < 5 %}
                            <li>{{ task.title }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% elif report.employee_comments %}
                <p>{{ report.employee_comments }}</p>
            {% endif %}
            <div class="mt-4">
                <a href="{% url 'reporting:detail_report' report.id %}"
                   class="btn btn-sm btn-outline-primary fw-normal">Voir</a>
                {% if report.user == user %}
                    {% if not report.published and report.temps_restant_jour %}
                        <a href="{% url 'reporting:edit_report' report.id %}"
                           class="btn btn-sm btn-warning fw-normal">Modifier</a>
                    {% endif %}

                    {% if not report.published or report.temps_restant_jour %}
                    <button
                            class="btn btn-sm btn-secondary fw-normal"
                            hx-delete="{% url 'reporting:delete_report' report.id %}"
                            hx-confirm="Êtes-vous sûr de vouloir supprimer le {{ report.title }} ?"
                            hx-target="#report-{{ report.id }}"
                            hx-swap="outerHTML"
                    >
                        Supprimer
                    </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>