<div class="add-activity" id="task-{{ task.id }}">
    <input type="text" class="activity-input" name="title_edit" value="{{ task.title }}" autofocus
           placeholder="Modifier la tache" id="form-task"
           hx-post="{% url 'reporting:edit_task' task.id %}"
           hx-trigger="keydown[key=='Enter']"
           hx-target="#task-{{ task.id }}"
           hx-swap="outerHTML"
    >
    <button class="add-activity-btn"
            type="button"
            hx-post="{% url 'reporting:edit_task' task.id %}"
            hx-trigger="click"
            hx-target="#task-{{ task.id }}"
            hx-swap="outerHTML"
    >
        <i class="ri ri-send-plane-fill"></i>
    </button>
</div>