<div class="navbar-area">
    {% load static %}
    {% load active_link_tags %}
    <div class="mobile-responsive-nav">
        <div class="container-fluid">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="{% url 'core:index' %}">
                        <img src="{% static 'images/logo-blanc.png' %}" width="90" class="logo-one rounded-3" alt="Logo">
                        <img src="{% static 'images/logo-blanc.png' %}" width="90" class="logo-two rounded-3" alt="Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="desktop-nav desktop-nav-one nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="{% url 'core:index' %}">
                    <img src="{% static 'images/logo.jpeg' %}" width="90" class="logo-one rounded-3" alt="Logo">
                    <img src="{% static 'images/logo.jpeg' %}" width="90" class="logo-two rounded-3" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'reporting:list_reports' %}" class="nav-link {% active_link 'reporting:list_reports' strict=True %}">
                                Rapports
                            </a>
                        </li>
                        {% if user.role != user.EMPLOYEE %}
                        <li class="nav-item">
                            <a href="{% url 'authentication:list_users' %}" class="nav-link {% active_link 'authentication:list_users' strict=True %}">
                                Employes
                            </a>
                        </li>
                        {% endif %}

                        {% if user.role != user.EMPLOYEE and user.role != user.RESPONSIBLE %}
                        <li class="nav-item">
                            <a href="{% url 'pointing:add_presence' %}" class="nav-link {% active_link 'pointing:add_presence' strict=True %}">
                                Pointage
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% active_link 'core:home' strict=True %}">
                                Evenements
                            </a>
                        </li>
                    </ul>
                    <div class="others-options d-flex align-items-center">
                        {% if request.user.is_authenticated %}
                            <div class="optional-item dropdown">
                                <a
                                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        class="btn btn-light border-radius-5 dropdown-toggle">Mon Compte<i
                                        class="ri-user-3-line"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'authentication:profile' %}"><i class="ri ri-home-gear-line"></i> Parametres</a></li>
                                    <li><a class="dropdown-item" href="{% url 'authentication:change_password' %}"><i class="ri ri-lock-line"></i> Mot de passe</a></li>
                                    <li><a class="dropdown-item" href="{% url 'authentication:logout' %}"><i class="ri ri-logout-box-line"></i> Se deconnecter</a></li>
                                </ul>
                            </div>
                        {% else %}
                        <div class="optional-item">
                            <a href="{% url 'authentication:login' %}" class="default-btn two border-radius-5">Se connecter <i
                                    class="ri-login-box-line"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="side-nav-responsive">
        <div class="container-max">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        {% if request.user.is_authenticated %}
                        <div class="side-nav-item text-center dropdown">
                            <a
                                    href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-light border-radius-5 dropdown-toggle">Mon Compte<i
                                    class="ri-user-3-line"></i></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'authentication:profile' %}"><i class="ri ri-home-gear-line"></i> Parametres</a></li>
                                <li><a class="dropdown-item" href="{% url 'authentication:change_password' %}"><i class="ri ri-lock-line"></i> Mot de passe</a></li>
                                <li><a class="dropdown-item" href="{% url 'authentication:logout' %}"><i class="ri ri-logout-box-line"></i> Se deconnecter</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="side-nav-item">
                            <a href="{% url 'authentication:login' %}" class="default-btn two border-radius-5">Se connecter <i
                                    class="ri-login-box-line"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>